.speech{
font-size: 16;
font-family: Arial;
color:black;
}
.direction{
    font-size: 14;
    font-family: Times New Roman;
    color:black;
    background-color: aqua;
    }
.direction:hover{
    color:aqua;
    background-color: black;
}
.chorus{
    color:blue
}
.oedipus{
    color: green;
}

table{
    border: solid 3px;
    border-collapse: collapse;
}
th, td{
    border: solid 2px ;
    text-align: center;
    padding: 7px;
}

tr:nth-child(even){
    background-color: #82e2f8;
}

.oedipus:hover{
text-shadow: 2px 2px 5px yellow;
border: 2px solid darkblue; 
border-radius: 5px; 
padding: 5px; 
}

.chorus:hover{
    text-shadow: 2px 2px 5px red;
    border: 2px solid darkgreen; 
    border-radius: 5px; 
    padding: 5px; 
    }
